:root{
/*Font*/
    --font-dm-sans: "DM Sans", sans-serif;
/*Colors*/
    --white: #fff;
    --black: #000;
    --bg-icon: #131313;
    --bg-search: #242424;
    --bg-arrow-color: rgba(0,0,07);
    --cor-login: #a7a7a7;
}